# Игнорирование системных папок
.DS_Store

# Игнорирование catboost_info
notebooks/catboost_info/

# Игнорирование notebook checkpoints
.ipynb_checkpoints/

# Игнорирование временных файлов Python
__pycache__/
*.pyc